.button {
  flex-flow: column;
  justify-content: center;
  align-content: center;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: #F2D57E;
  color: #0C4459;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: background-color 1s;

  &:hover {
    background-color: #031226;
    color: #F2D57E;
  }
}
