.button {
  flex-flow: column;
  justify-content: center;
  align-content: center;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: #8ADEFF;
  color: #A66A28;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: background-color 0.8s;

  &:hover {
    background-color: #A66A28;
    color: #8ADEFF;
  }
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    opacity: 0.5;
    outline: none;
  }
}
