// #031226, #1F788C, #F2D57E, #F2C185, #F28D8D

.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: #073A59;
  background-image: linear-gradient(to top, #19687F, #68B4BD,  #175673, #042342);
  color: #F2C185;
  padding: 30px 20px;
}

.page {
  display: flex;
  flex-flow: column;
  gap: 32px;
  min-height: 100vh;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  background-color: #287499;
  color: #D99C52;
  padding: 20px;
}

.page__text {
  font-size: 25px;
  text-align: left;
}

.container {
  max-width: 100%;
}

.row {
  width: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 32px;
  gap: 16px;
}

.box--row {
  flex-flow: row wrap;
  justify-content: center;
  gap: 32px;
}

.box--stretch {
  align-items: stretch;
  justify-content: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

.grid-container--wide-columns {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.img {
  border-radius: 20px;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  background-color: #8FBF60;
}

.nav__link {
  color: #1C2140;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.active {
  color: #06ADBF;
}
