// #031226, #1F788C, #F2D57E, #F2C185, #F28D8D

.App {
  display: flex;
  flex-flow: column;
  background-color: #073A59;
  background-image: linear-gradient(to top, #19687F, #68B4BD,  #175673, #042342);
  color: #F2C185;
  padding: 30px 20px;
}

.box {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
  gap: 16px;
}
